.gameboard{
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    background-color: black;
    background-image: linear-gradient(yellow 1px, transparent 1px), linear-gradient(90deg, yellow 1px, transparent 1px);
}

.Cell{
    background: yellow;
    position: absolute;
}

.controls{
    text-align: center;
    margin-top: 20px;
}

.button{
    margin-left: 10px;
}
